{% extends "sources/elementary/navigation.html" %}

{% block title %} 基础－按钮 {% endblock %}

{% block is_active_elementary_button %} active {% endblock %}

{% block real %}
<section id="doc-button" class="section">
    <div class="header">
        <h2>按钮<small>less/button</small></h2>
    </div>
    <div class="content">
        <div class="desc">按钮样式可以通过<code>.btn</code>配合具体按钮的class来应用到<code>&lt;a&gt;</code>、<code>&lt;button&gt;</code>元素，暂时不支持<code>&lt;input type="submit"&gt;</code>。不要忘记里面的span的class<code>.btn-inner</code>。</div>
        <div class="desc">由于浏览器兼容性的问题，在IE6上的<code>button</code>元素会没有hover效果。</div>
        <div class="desc">依然是由于浏览器兼容性的问题，不得的采用集中的class的命名方式，而不是分离class的方式，按钮存在4种大小，可以使用large default small tiny的方式来改变大小。</div>
        <h3>通用按钮</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="btn btn-shine-default"&gt;
    &lt;button class="btn-inner"&gt;Shine large&lt;/button&gt;
&lt;/span&gt;
&lt;span clsss="btn btn-jade-tiny"&gt;
    &lt;button class="btn-inner"&gt;Jade tiny&lt;/button&gt;
&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <table class="table-orig" cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr>
                        <th>按钮</th>
                        <td>class</td>
                        <td>描述</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="btn btn-shine-large"><button class="btn-inner">shine button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-shine-default"><button class="btn-inner">shine button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-shine-small"><button class="btn-inner">shine button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-shine-tiny"><button class="btn-inner">shine button</button></span>
                        </th>
                        <td>
                            btn btn-shine-large
                            <br>
                            btn btn-shine-default
                            <br>
                            btn btn-shine-small
                            <br>
                            btn btn-shine-tiny
                        </td>
                        <td>进行主要操作的时候的按钮</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="btn btn-vivid-large"><button class="btn-inner">vivid button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-vivid-default"><button class="btn-inner">vivid button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-vivid-small"><button class="btn-inner">vivid button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-vivid-tiny"><button class="btn-inner">vivid button</button></span>
                        </th>
                        <td>
                            btn btn-vivid-large
                            <br>
                            btn btn-vivid-default
                            <br>
                            btn btn-vivid-small
                            <br>
                            btn btn-vivid-tiny
                        </td>
                        <td>普通的红色按钮，适用于那些不需要特别突出的主要操作按钮。</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="btn btn-jade-large"><button class="btn-inner">jade button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-jade-default"><button class="btn-inner">jade button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-jade-small"><button class="btn-inner">jade button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-jade-tiny"><button class="btn-inner">jade button</button></span>
                        </th>
                        <td>
                            btn btn-jade-large
                            <br>
                            btn btn-jade-default
                            <br>
                            btn btn-jade-small
                            <br>
                            btn btn-jade-tiny
                        </td>
                        <td>绿色按钮</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="btn btn-general-large"><button class="btn-inner">general button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-general-default"><button class="btn-inner">general button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-general-small"><button class="btn-inner">general button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-general-tiny"><button class="btn-inner">general button</button></span>
                        </th>
                        <td>
                            btn btn-general-large
                            <br>
                            btn btn-general-default
                            <br>
                            btn btn-general-small
                            <br>
                            btn btn-general-tiny
                        </td>
                        <td>次要按钮</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="btn btn-disable-large"><button class="btn-inner">disable button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-disable-default"><button class="btn-inner">disable button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-disable-small"><button class="btn-inner">disable button</button></span>
                            <div class="rule-obese"></div>
                            <span class="btn btn-disable-tiny"><button class="btn-inner">disable button</button></span>
                        </th>
                        <td>
                            btn btn-disable-large
                            <br>
                            btn btn-disable-default
                            <br>
                            btn btn-disable-small
                            <br>
                            btn btn-disable-tiny
                        </td>
                        <td>禁用状态的按钮</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
