{% extends "sources/elementary/navigation.html" %}

{% block title %} 基础－颜色 {% endblock %}

{% block is_active_elementary_color %} active {% endblock %}

{% block real %}
<section id="doc-color" class="section">
    <div class="header">
        <h2>颜色<small>less/color</small></h2>
    </div>
    <div class="content">
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content"></div>
            <div class="rule-code-example">
                <table class="table-orig" cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr>
                        <th>颜色</th>
                        <td>class</td>
                        <td>用途</td>
                    </tr>
                    <tr>
                        <th><span class="color-red">#e94609</span></th>
                        <td>color-red</td>
                        <td>主色调</td>
                    </tr>
                    <tr>
                        <th><span class="color-lightRed">#ff7553</span></th>
                        <td>color-lightRed</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span class="color-green">#71ad4d</span></th>
                        <td>color-green</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span class="color-blue">#3068c5</span></th>
                        <td>color-blue</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span class="color-gray9">#999</span></th>
                        <td>color-gray9</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span class="color-gray6">#666</span></th>
                        <td>color-gray6</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th><span class="color-gray4">#444</span></th>
                        <td>color-gray4</td>
                        <td>主文字色调</td>
                    </tr>
                    <tr>
                        <th><span class="color-gray3">#333 </span></th>
                        <td>color-gray3</td>
                        <td>默认链接颜色</td>
                    </tr>
                    <tr>
                        <th><span class="color-ness">#f60 </span></th>
                        <td>color-ness</td>
                        <td>主要用于表单组中对于必填项标示的‘*’的颜色</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
