{% extends "sources/elementary/navigation.html" %}

{% block title %} 基础－html5元素 {% endblock %}

{% block is_active_elementary_html5 %} active {% endblock %}

{% block real %}
<section id="doc-html5" class="section">
    <div class="header">
        <h2>html5元素<small>less/html5</small></h2>
    </div>
    <div class="content">
        <div class="desc">
            针对 <code>article</code> <code>aside</code> <code>details</code> <code>figcaption</code> <code>figure</code> <code>footer</code> <code>header</code> <code>nav</code> <code>section</code>等低版本IE不支持的元素，设置<code>display:block</code>的样式。
        </div>
        <div class="desc">需要在JS中生成这几种元素才能够正常使用。调用js文件的时候需要使用条件注释，让IE9以下的浏览器才有效。</div>
        <div class="rule-code">
            <div class="rule-code-title">HTML</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
&lt;!--[if lt IE 9]&gt;
&lt;script type="text/javascript" src="/script/html5/init.js"&gt;&lt;/script&gt;
&lt;![endif]--&gt;</pre>
            </div>
        </div>
    </div>
</section>
{% endblock %}
