extends ../admin

block path
  - nav['menuAll'] = 'active'

block content
  h2.pagetitle 
    span All Menus
    a.btn.btn-default.btn-xs.pagetitleAction(href="/admin/menu/new", title="Add New Menu") Add New

  table.table.table-bordered.menutable
    thead
      tr
        th #
        th Name
        th Edit
    tbody
      each menu, index in menus
        tr
          td= index
          td= menu
          td
            a(href="") Edit
            a(href="") Remove

block auxiliary

