extends ../Admin

block path
  - nav['menuAll'] = 'active'

block content
  h2.pagetitle Edit Menu
  form(action="/admin/menu/edit", method="POST")
    input(type="hidden", name="original", value="#{name}")
    input(type="hidden", name="type", value="#{type}")
    div.form-group
      input.form-control.dev-menu-count(type="text", name="name", value="#{name}")
      p.help-block Word Count:
        span.dev-menu-counter 0
    div.form-group
      a.btn.btn-default(href="/admin/menu/all") Back
      button.btn.btn-primary(type="submit") Submit

block appendscript
  script(src="/js/jingwei/admin/menu.edit.js")
