doctype
html
  head
    - var nav = {}
    block path
    title Jingwei:Admin
    link(rel='stylesheet', href='/css/admin.css')
    block prefixscript
  body

    header#admin-header
      div.container
        h1 Jingwei Management

    div#admin-body
      div.container

        div.row
          div.col-sm-2.left
            div.btn-group.select.select-block.open
              a(href="/", target="_blank").btn.dropdown-toggle.btn-info.view View
              span.dropdown-arrow.dropdown-arrow-inverse
              ul.dropdown-menu.dropdown-inverse
                li.dropdown-header
                  span.fui-list
                  span  Menu
                li(class="#{nav.menuFolderNew}")
                  a(href="/admin/menu/newfolder") Add Folder
                li(class="#{nav.menuPageNew}")
                  a(href="/admin/menu/newpage") Add Page
                li(class="#{nav.menuAll}")
                  a(href="/admin/menu/all") All Menus

                li.divider
                li.dropdown-header
                  span.fui-new
                  span  Articles
                li
                  a(href="") Add New
                li
                  a(href="") Belongings

                li.divider
                li
                  a(href="") Appearance

                li.divider
                li
                  a(href="") Settings


          div.col-sm-8.main
            block content

          div.col-sm-2.right
            block auxiliary

    script(src="/js/jquery-2.0.3/jquery.js")
    script(src="/js/bootstrap/bootstrap.min.js")
    block appendscript
