doctype
html
  head
    title Jingwei
    link(rel='stylesheet', href='/css/style.css')
  body

    header#header
      div.container
        h1 Jingwei CSS Styleguide

    div#body
      div.container
        block content

    footer#footer
      div.container
        div.row.footer
          div.col-md-4
            ul.list-inline
              li Gengtieming
              li Gengtieming
              li Gengtieming
          div.col-md-4.text-center
            a
              span xyz
          div.col-md-4
            p.text-right
              | @2014

    script(src="/js/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.min.js")
