<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jingwei {% block title %}{% endblock %}</title>

    <!-- <link href="assets/less/webpages/all.less" rel="stylesheet/less" type="text/css" /> -->
    <!-- <script src="assets/js/less.js" type="text/javascript"></script> -->
    <link href="/assets/css/all.css" rel="stylesheet" />

    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/prettify.css" rel="stylesheet" />
    <script src="/js/run_prettify.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/affix.js"></script>
</head>
<body>
    <header id="jw-header">
        <h1>
            <a class="symbol" href="/" title="Jingwei">Jingwei</a>
            <sup>NEXT</sup>
        </h1>
    </header>

    <aside id="jw-chief">
        <ul class="menu-chief">
            <li class="{% block is_active_index %}{% endblock %}"><a href="/" title="首页">首</a></li>
            <li class="{% block is_active_skeleton %}{% endblock %}"><a href="/skeleton" title="骨架">骨</a></li>
            <li class="{% block is_active_elementary %}{% endblock %}"><a href="/elementary" title="基础元素">基</a></li>
            <li class="{% block is_active_building %}{% endblock %}"><a href="/building" title="高级模块">筑</a></li>
            <li class="{% block is_active_dictionary %}{% endblock %}"><a href="/dictionary" title="ID、class表等笔记参考">典</a></li>
        </ul>
    </aside>

    <aside id="jw-deputy">
        <ul class="menu-deputy">
            {% block deputy %}
            {% endblock %}
        </ul>
    </aside>

    <div id="jw-content" class="rule-main">
        {% block real %}
        {% endblock %}
    </div>


    <script src="/js/scrollspy.js"></script>
    <script src="/js/section-nav.js"></script>
</body>
</html>
