{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－警告 {% endblock %}

{% block is_active_building_alert %} active {% endblock %}

{% block real %}
<section id="doc-alert" class="section">
    <div class="header">
        <h2>警告<small>less/alert</small></h2>
    </div>
    <div class="content">
        <h3>alert</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="alert alert-error"&gt;
    &lt;span class="icon icon-error"&gt;&lt;/span&gt;
    密码错误，&lt;a href="#"&gt;请重新输入&lt;/a&gt;。
&lt;/span&gt;

&lt;span class="alert alert-info"&gt;
    &lt;span class="icon icon-info"&gt;&lt;/span&gt;
    信息内容。
&lt;/span&gt;

&lt;span class="alert alert-warning"&gt;
    &lt;span class="icon icon-warning"&gt;&lt;/span&gt;
    警告内容。
&lt;/span&gt;

&lt;span class="alert alert-suc"&gt;
    &lt;span class="icon icon-suc"&gt;&lt;/span&gt;
    成功啦。
&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <span class="alert alert-error">
                    <span class="icon icon-error"></span>
                    密码错误，<a href="#">请重新输入</a>。
                </span>
                <div class="rule-separate"></div>
                <span class="alert alert-info">
                    <span class="icon icon-info"></span>
                    信息内容。
                </span>
                <div class="rule-separate"></div>
                <span class="alert alert-warning">
                    <span class="icon icon-warning"></span>
                    警告内容。
                </span>
                <div class="rule-separate"></div>
                <span class="alert alert-suc">
                    <span class="icon icon-suc"></span>
                    成功啦。
                </span>
            </div>
        </div>

        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="alert-block alert-error"&gt;
    &lt;h4&gt;密码错误&lt;/h4&gt;
    &lt;p&gt;请重新输入或者通过邮箱、手机号修改密码之后重新登录。如果错误次数过多，基于安全考虑，
    您的账号将会暂时不可用。&lt;/p&gt;
&lt;/div&gt;

&lt;div class="alert-block alert-info"&gt;
    &lt;h4&gt;密码的信息有效&lt;/h4&gt;
    &lt;p&gt;密码是用来登录某个网站的口令，没有你就进不去，你不申请是没有密码的。你不说我怎么知道你
    要申请长好呢，你要是说了肯定会给你账号的嘛，账号不要乱扔嘛，会砸到小孩子的。&lt;/p&gt;
&lt;/div&gt;

&lt;div class="alert-block alert-warning"&gt;
    &lt;h4&gt;密码不安全&lt;/h4&gt;
    &lt;p&gt;这种脑残密码是很容易被猜出来的，你要前面加个数，后面加个数，这样的话密码也不是太安全。&lt;/p&gt;
&lt;/div&gt;

&lt;div class="alert-block alert-suc"&gt;
    &lt;h4&gt;密码正确&lt;/h4&gt;
    &lt;p&gt;登录成功，将在若干秒之后跳转到主页面，至于几秒自己等。&lt;/p&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="alert-block alert-error">
                    <h4>密码错误</h4>
                    <p>请重新输入或者通过邮箱、手机号修改密码之后重新登录。如果错误次数过多，基于安全考虑，您的账号将会暂时不可用。</p>
                </div>
                <div class="rule-separate"></div>
                <div class="alert-block alert-info">
                    <h4>密码的信息有效</h4>
                    <p>密码是用来登录某个网站的口令，没有你就进不去，你不申请是没有密码的。你不说我怎么知道你要申请长好呢，你要是说了肯定会给你账号的嘛，账号不要乱扔嘛，会砸到小孩子的。</p>
                </div>
                <div class="rule-separate"></div>
                <div class="alert-block alert-warning">
                    <h4>密码不安全</h4>
                    <p>这种脑残密码是很容易被猜出来的，你要前面加个数，后面加个数，这样的话密码也不是太安全。</p>
                </div>
                <div class="rule-separate"></div>
                <div class="alert-block alert-suc">
                    <h4>密码正确</h4>
                    <p>登录成功，将在若干秒之后跳转到主页面，至于几秒自己等。</p>
                </div>
            </div>
        </div>

        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="alert alert-message"&gt;信息内容&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="alert alert-message">信息内容</div>
            </div>
        </div>

        <div class="rule-code">
            <div class="rule-code-title">Example</div>

            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="alert-stop"&gt;
    &lt;table cellspacing="0" cellpadding="0" class="content"&gt;
        &lt;tr&gt;
            &lt;td&gt;&lt;img src="assets/img/icon/mark-48-error.png" alt="失败" /&gt;&lt;/td&gt;
            &lt;td&gt;
                &lt;h4&gt;提交不成功&lt;/h4&gt;
                &lt;ul class="list"&gt;
                    &lt;li&gt;可能密码输入错误。&lt;/li&gt;
                    &lt;li&gt;可能账户已不可用。&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="alert-stop">
                    <table cellspacing="0" cellpadding="0" class="content">
                        <tr>
                            <td><img src="assets/img/icon/mark-48-error.png" alt="失败" width="48" height="48" /></td>
                            <td>
                                <h4>提交不成功</h4>
                                <ul class="list">
                                    <li>可能密码输入错误。</li>
                                    <li>可能账户已不可用。</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
