{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－绝对居中 {% endblock %}

{% block is_active_building_align %} active {% endblock %}

{% block real %}
<section id="doc-align" class="section">
    <div class="header">
        <h2>绝对居中<small>less/align</small></h2>
    </div>
    <div class="content">
        <h3>垂直居中</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="align-vertical"&gt;
    &lt;div class="align-vertical-mid"&gt;
        &lt;div class="align-vertical-mid-inner"&gt;
            &lt;img src="/img/hallmark.png" alt="For Test" width="210" height="40" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="align-vertical" style="width:250px; height:75px; border:1px solid #ddd; background:#042029;">
                    <div class="align-vertical-mid">
                        <div class="align-vertical-mid-inner">
                            <img src="/img/hallmark.png" alt="For Test" width="210" height="40" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>绝对居中</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="align-center"&gt;
    &lt;div class="align-center-mid"&gt;
        &lt;div class="align-center-mid-inner"&gt;
            &lt;img src="/img/hallmark.png" alt="For Test" width="210" height="40" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="align-center" style="width:250px; height:75px; border:1px solid #ddd; background:#042029;">
                    <div class="align-center-mid">
                        <div class="align-center-mid-inner">
                            <img src="/img/hallmark.png" alt="For Test" width="210" height="40" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
