{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－图灵测试 {% endblock %}

{% block is_active_building_captcha %} active {% endblock %}

{% block real %}
<section id="doc-captcha" class="section">
    <div class="header">
        <h2>图灵测试<small>less/captcha</small></h2>
    </div>
    <div class="content">
        <div class="desc">验证码。验证码部分都是使用的统一文件，整个项目只有一个验证码模块，不同的只是输入框需要在每个页面上写。</div>
        <div class="desc">另外，验证码的报错是在元素的下方，而不是在右方，考虑到右方是两个独立的按钮。下方已经留出了栏位。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;table cellspacing="0" cellpadding="0" class="captcha"&gt;
    &lt;tr class="hold"&gt;
        &lt;td width="120"&gt;
            &lt;div&gt;
                &lt;input type="text" id="verifyCode" name="verifyCode" class="typeIn"
                onkeyup="" maxlength="4" /&gt;
            &lt;/div&gt;
        &lt;/td&gt;

        &lt;!-- 统一部分 开始 --&gt;
        &lt;td class="imgCell"&gt;
            &lt;img id="safecode" class="img" src="/ImageServlet"
            alt="请输入图片中的数字或字母" width="80" height="30" /&gt;
        &lt;/td&gt;
        &lt;td class="refreshCell" title="换一张图片"&gt;
            &lt;a href="javascript:reloadVerifyCode();" class="refresh"&gt;换一张图片&lt;/a&gt;
        &lt;/td&gt;
        &lt;td class="sepCell"&gt;
            &lt;div class="sep"&gt;&lt;/div&gt;
        &lt;/td&gt;
        &lt;td class="audioCell"&gt;
            &lt;div class="inner"&gt;
                &lt;span id="play" class="audioWrap"&gt;
                    &lt;a id="helper" href="javascript:playSound();"
                    title="听清并键入您听到的数字或字母" class="audio"&gt;
                        听清并键入您听到的数字或字母
                    &lt;/a&gt;
                &lt;/span&gt;
            &lt;/div&gt;
        &lt;/td&gt;
        &lt;!-- 统一部分 结束 --&gt;

    &lt;/tr&gt;
    &lt;tr class="msg"&gt;
        &lt;td colspan="3" class="inputArea"&gt;
            &lt;div style="display:none" class="onError" id="verifyCode_Tip"&gt;请填写验证码。&lt;/div&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
            </div>
            <div class="rule-code-example">
                <table cellspacing="0" cellpadding="0" class="captcha">
                    <tr class="hold">
                        <td width="120">
                            <div>
                                <input type="text" id="verifyCode" name="verifyCode" class="typeIn" onkeyup="" maxlength="4" />
                            </div>
                        </td>
                        <td class="imgCell"><img id="safecode" class="img" src="/ImageServlet" alt="请输入图片中的数字或字母" width="80" height="30" /></td>
                        <td class="refreshCell" title="换一张图片">
                            <a href="javascript:reloadVerifyCode();" class="refresh">换一张图片</a>
                        </td>
                        <td class="sepCell"><div class="sep"></div></td>
                        <td class="audioCell">
                            <div class="inner">
                                <span id="play" class="audioWrap">
                                    <a id="helper" href="javascript:playSound();" title="听清并键入您听到的数字或字母" class="audio">听清并键入您听到的数字或字母</a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="msg">
                        <td colspan="3" class="inputArea">
                            <div class="onError" id="verifyCode_Tip">请填写验证码。</div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock %}
