{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－下拉菜单 {% endblock %}

{% block is_active_building_dropdown %} active {% endblock %}

{% block real %}
<section id="doc-dropdown" class="section">
    <div class="header">
        <h2>下拉菜单<small>less/dropdown</small></h2>
    </div>
    <div class="content">
        <div class="desc">需要搭配相应的脚本才能正常工作，具体的样式在具体的地方定义，只是提供基本样式。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Test&lt;/a&gt;&lt;/li&gt;
    &lt;li class="dropdown-menu"&gt;
        &lt;a href="#" class="dropdown-remote"&gt;
            Foled 
            &lt;span class="icon-dropdown"&gt;&lt;/span&gt;
        &lt;/a&gt;
        &lt;div class="dropdown-panel ly-none"&gt;
            Globally optimize multifunctional.
        &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="dropdown-menu"&gt;
        &lt;a href="#" class="dropdown-remote dropdown-on"&gt;
            Site map 
            &lt;span class="icon-dropdown"&gt;&lt;/span&gt;
        &lt;/a&gt;
        &lt;div class="dropdown-panel"&gt;
            Globally optimize multifunctional.
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div id="xyz-top" style="min-width:500px;">
                    <ul id="dev_dropdown" class="menu" style="float:none;">
                        <li><a href="#">Test</a></li>
                        <li class="navi dropdown-menu">
                            <a href="#" class="attach dropdown-remote">Foled <span class="icon-dropdown"></span></a>
                            <div class="dropdown-panel ly-none naviPanel">
                                Globally optimize multifunctional.
                            </div>
                        </li>
                        <li class="navi dropdown-menu">
                            <a href="#" class="attach dropdown-remote dropdown-on">Site map <span class="icon-dropdown"></span></a>
                            <div class="dropdown-panel naviPanel">
                                Globally optimize multifunctional.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
// dropdown
$("#dev_dropdown .dropdown-menu").hover(function() {
    $(this).find(".dropdown-remote").addClass("dropdown-on");
    $(this).find(".dropdown-panel").removeClass("ly-none");
});
$("#dev_dropdown .dropdown-menu").mouseout(function() {
    $(this).find(".dropdown-remote").removeClass("dropdown-on");
    $(this).find(".dropdown-panel").addClass("ly-none");
});
</script>
{% endblock %}
