{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－评价 {% endblock %}

{% block is_active_building_evaluate %} active {% endblock %}

{% block real %}
<section id="doc-evaluate" class="section">
    <div class="header">
        <h2>评价组件<small>less/evaluate</small></h2>
    </div>
    <div class="content">
        <h3>星级评价</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="eval-star"&gt;
    &lt;span class="title"&gt;客户评价&lt;/span&gt;
    &lt;span class="start-on"&gt;&lt;/span&gt;
    &lt;span class="start-on"&gt;&lt;/span&gt;
    &lt;span class="start-on"&gt;&lt;/span&gt;
    &lt;span class="start-half"&gt;&lt;/span&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;span class="point"&gt;3.5分&lt;/span&gt;
&lt;/div&gt; </pre>
            </div>
            <div class="rule-code-example">
                <div class="eval-star">
                    <span class="title">客户评价</span>
                    <span class="start-on"></span>
                    <span class="start-on"></span>
                    <span class="start-on"></span>
                    <span class="start-half"></span>
                    <span></span>
                    <span class="point">3.5分</span>
                </div>
            </div>
        </div>
       
        <h3>气泡评价</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
            </div>
            <div class="rule-code-example rule-code-example-blank">
                <div class="eval-prompt prompt-yellow">
                    <div class="yellow-tip yellow-top"></div>
                    <div class="yellow-info">
                        <div class="prompt-tit">
                            <span class="time">2013-08-05 15:37:03</span>新一站回复：
                        </div>
                        <div class="prompt-cont">
                            您好，多次给您致电一直无人接听，我们这边推荐好友和分享产品都是可以获赠200积分的哟，前提是您的好友一定要在网站下单成功哦，感谢您的关注与支持！
                        </div>
                    </div>
                    <div class="yellow-tip yellow-bottom"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
