{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－安全等级 {% endblock %}

{% block is_active_building_level %} active {% endblock %}

{% block real %}
<section id="doc-level" class="section">
    <div class="header">
        <h2>安全等级<small>less/level</small></h2>
    </div>
    <div class="content">
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="level-security"&gt;
    &lt;label class="level-primary"&gt;&lt;/label&gt;
    &lt;span class="level-desc"&gt;初级&lt;/span&gt;
&lt;/span&gt;

&lt;span class="level-security"&gt;
    &lt;label class="level-intermediate"&gt;&lt;/label&gt;
    &lt;span class="level-desc"&gt;中级&lt;/span&gt;
&lt;/span&gt;

&lt;span class="level-security"&gt;
    &lt;label class="level-common"&gt;&lt;/label&gt;
    &lt;span class="level-desc"&gt;普通&lt;/span&gt;
&lt;/span&gt;

&lt;span class="level-security"&gt;
    &lt;label class="level-advanced"&gt;&lt;/label&gt;
    &lt;span class="level-desc"&gt;高级&lt;/span&gt;
&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <span class="level-security">
                    <label class="level-primary"></label>
                    <span class="level-desc">初级</span>
                </span>
                <div class="rule-separate"></div>
                <span class="level-security">
                    <label class="level-intermediate"></label>
                    <span class="level-desc">中级</span>
                </span>
                <div class="rule-separate"></div>
                <span class="level-security">
                    <label class="level-common"></label>
                    <span class="level-desc">普通</span>
                </span>
                <div class="rule-separate"></div>
                <span class="level-security">
                    <label class="level-advanced"></label>
                    <span class="level-desc">高级</span>
                </span>
                <div class="rule-separate"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
