{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－导航 {% endblock %}

{% block is_active_building_nav %} active {% endblock %}

{% block real %}
<section id="doc-nav" class="section">
    <div class="header">
        <h2>导航<small>less/nav</small></h2>
    </div>
    <div class="content">
        <h3>面包屑</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="nav-bread"&gt;
    &lt;a href="#" class="orign"&gt;新一站保险网&lt;/a&gt;
    &lt;span&gt;&gt;&lt;/span&gt;
    &lt;a href="#"&gt;产品列表&lt;/a&gt;
    &lt;span&gt;&gt;&lt;/span&gt;
    当前页面
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="nav-bread">
                    <a href="#" title="home" class="orign">新一站保险网</a>
                    <span>&gt;</span>
                    <a href="#" title="Second">产品列表</a>
                    <span>&gt;</span>
                    当前页面
                </div>
            </div>
        </div>

        <h3>分页</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
            </div>
            <div class="rule-code-example">
            </div>
        </div>

    </div>
</section>
{% endblock %}
