{% extends "sources/layout.html" %}

{% block is_active_building %} active {% endblock %}

{% block deputy %}
<li class="{% block is_active_building_alert %}{% endblock %}">
    <a href="/building_alert">警告</a>
</li>
<li class="{% block is_active_building_status %}{% endblock %}">
    <a href="/building_status">状态</a>
</li>
<li class="{% block is_active_building_box %}{% endblock %}">
    <a href="/building_box">盒子</a>
</li>
<li class="{% block is_active_building_bubble %}{% endblock %}">
    <a href="/building_bubble">气泡</a>
</li>
<li class="{% block is_active_building_captcha %}{% endblock %}">
    <a href="/building_captcha">图灵测试</a>
</li>
<li class="{% block is_active_building_trans %}{% endblock %}">
    <a href="/building_trans">圆角</a>
</li>
<li class="{% block is_active_building_level %}{% endblock %}">
    <a href="/building_level">安全等级</a>
</li>
<li class="{% block is_active_building_modal %}{% endblock %}">
    <a href="/building_modal">弹出层</a>
</li>
<li class="{% block is_active_building_rmb %}{% endblock %}">
    <a href="/building_rmb">人民币</a>
</li>
<li class="{% block is_active_building_align %}{% endblock %}">
    <a href="/building_align">绝对居中</a>
</li>
<li class="{% block is_active_building_nav %}{% endblock %}">
    <a href="/building_nav">导航</a>
</li>
<li class="{% block is_active_building_carousel %}{% endblock %}">
    <a href="/building_carousel">轮播</a>
</li>
<li class="{% block is_active_building_publicida %}{% endblock %}">
    <a href="/building_publicida">广告</a>
</li>
<li class="{% block is_active_building_tag %}{% endblock %}">
    <a href="/building_tag">小标签</a>
</li>
<li class="{% block is_active_building_tab %}{% endblock %}">
    <a href="/building_tab">标签切换</a>
</li>
<li class="{% block is_active_building_dropdown %}{% endblock %}">
    <a href="/building_dropdown">下拉菜单</a>
</li>
<li class="{% block is_active_building_evaluate %}{% endblock %}">
    <a href="/building_evaluate">评价</a>
</li>
<li class="{% block is_active_building_share %}{% endblock %}">
    <a href="/building_share">分享</a>
</li>
{% endblock %}

{% block real %}
{% endblock %}

