{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－人民币 {% endblock %}

{% block is_active_building_rmb %} active {% endblock %}

{% block real %}
<section id="doc-money" class="section">
    <div class="header">
        <h2>人民币<small>less/money</small></h2>
    </div>
    <div class="content"> 
        <h3>普通</h3>
        <div class="desc">
            <code>dfn</code>结构一定不能忘记，而且其他结构最好不好使用。为了能够让所有的人民币符号能够显示出统一的符号，使用了Arial字体，能够覆盖Windows系统，针对没有Arial的Mac系统，默认字体也能够显示出两个横杠的符号。
        </div>
        <div class="desc">因为有些产品的价格有“起”字，由于同样单位的符号数字和汉字的高度不同，为了照顾视觉效果，把符号和数字的大小都设置为15px。</div>
        <div class="desc">针对价格的字体大小变化的种类比较多，所以不进行固定的分类，根据不同的使用场所要求的字号大小，在页面级别添加class或者定义独立样式，比如增加<code>.typo-size24</code>这种，或者单独定义样式。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="money"&gt;
    &lt;dfn&gt;&yen;&lt;/dfn&gt;
    &lt;span class="num"&gt;140.00&lt;/span&gt;
    &lt;small&gt;起&lt;/small&gt;
&lt;/div&gt;

&lt;div class="money"&gt;
    &lt;dfn class="typo-size24"&gt;&yen;&lt;/dfn&gt;
    &lt;span class="num"&gt;
        &lt;span class="typo-size24"&gt;109&lt;/span&gt;.00
    &lt;/span&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="money">
                    <dfn>&yen;</dfn>
                    <span class="num">140.00</span>
                    <small>起</small>
                </div>
                <br>
                <div class="money">
                    <dfn class="typo-size24">&yen;</dfn>
                    <span class="num">
                        <span class="typo-size24">109</span>
                        .00
                    </span>
                </div>
            </div>
        </div>

        <h3>原价</h3>
        <div class="desc">原价一般不会设置特殊的样式，使用默认的样式，如果要设置也是极为特殊的地方，在页面级别设定。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;del class="money"&gt;
    &lt;dfn&gt;&yen;&lt;/dfn&gt;89.00
&lt;/del&gt;

&lt;del&gt;
    &lt;span class="money"&gt;
        &lt;dfn&gt;&yen;&lt;/dfn&gt;89.00
    &lt;/span&gt;
&lt;/del&gt;</pre>
            </div>
            <div class="rule-code-example">
                <del class="money">
                    <dfn>&yen;</dfn>89.00
                </del>
                <del>
                    <span class="money">
                        <dfn>&yen;</dfn>89.00
                    </span>
                </del>
            </div>
        </div>
    </div>
</section>
{% endblock %}
