{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－状态 {% endblock %}

{% block is_active_building_status %} active {% endblock %}

{% block real %}
<section id="doc-status" class="section">
    <div class="header">
        <h2>状态<small>less/status</small></h2>
    </div>
    <div class="content">
        <h3>无outline</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="status-tip"&gt;
    &lt;table cellspacing="0" cellpadding="0" class="statusZone"&gt;
        &lt;tr&gt;
            &lt;td class="top"&gt;
                &lt;img src="assets/img/icon/mark-48-suc.png" alt="成功" width="48" heigth="48" /&gt;
            &lt;/td&gt;
            &lt;td class="top"&gt;
                &lt;h2 class="heading"&gt;支付成功！&lt;/h2&gt;
                &lt;div class="extra"&gt;
                    我们会以
                    &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;和
                    &lt;strong class="color-red"&gt;短信&lt;/strong&gt;的方式通知您，请耐心等待。
                    &lt;ul class="statusList"&gt;
                        &lt;li&gt;
                            我们会将保险卡信息通过
                            &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;发送给您。
                        &lt;/li&gt;
                        &lt;li&gt;您已经成为新一站会员&lt;/li&gt;
                        &lt;li&gt;为了保障您的账户安全，登录后请及时修改密码。&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-separate"></div>
                <div class="status-tip">
                    <table cellspacing="0" cellpadding="0" class="statusZone">
                        <tr>
                            <td class="top"><img src="assets/img/icon/mark-48-suc.png" alt="成功" width="48" heigth="48" /></td>
                            <td class="top">
                                <h2 class="heading">支付成功！</h2>
                                <div class="extra">
                                    我们会以<strong class="color-red">邮件</strong>和<strong class="color-red">短信</strong>的方式通知您，请耐心等待。
                                    <ul class="statusList">
                                        <li>我们会将保险卡信息通过<strong class="color-red">邮件</strong>发送给您。</li>
                                        <li>您已经成为新一站会员</li>
                                        <li>为了保障您的账户安全，登录后请及时修改密码。</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="rule-separate"></div>
            </div>
        </div>

        <h3>Suc Outline</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="status-outlineSuc"&gt;
    &lt;div class="status-tip"&gt;
        &lt;table cellspacing="0" cellpadding="0" class="statusZone"&gt;
            &lt;tr&gt;
                &lt;td class="top"&gt;
                    &lt;img src="assets/img/icon/mark-48-suc.png" alt="成功" width="48" heigth="48" /&gt;
                &lt;/td&gt;
                &lt;td class="top"&gt;
                    &lt;h2 class="heading"&gt;支付成功！&lt;/h2&gt;
                    &lt;div class="extra"&gt;
                        我们会以
                        &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;
                        和
                        &lt;strong class="color-red"&gt;短信&lt;/strong&gt;
                        的方式通知您，请耐心等待。
                        &lt;ul class="statusList"&gt;
                            &lt;li&gt;
                                我们会将保险卡信息通过
                                &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;发送给您。
                            &lt;/li&gt;
                            &lt;li&gt;您已经成为新一站会员&lt;/li&gt;
                            &lt;li&gt;为了保障您的账户安全，登录后请及时修改密码。&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="status-outlineSuc">
                    <div class="status-tip">
                        <table cellspacing="0" cellpadding="0" class="statusZone">
                            <tr>
                                <td class="top"><img src="assets/img/icon/mark-48-suc.png" alt="成功" width="48" heigth="48" /></td>
                                <td class="top">
                                    <h2 class="heading">支付成功！</h2>
                                    <div class="extra">
                                        我们会以<strong class="color-red">邮件</strong>和<strong class="color-red">短信</strong>的方式通知您，请耐心等待。
                                        <ul class="statusList">
                                            <li>我们会将保险卡信息通过<strong class="color-red">邮件</strong>发送给您。</li>
                                            <li>您已经成为新一站会员</li>
                                            <li>为了保障您的账户安全，登录后请及时修改密码。</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rule-separate"></div>
            </div>
        </div>

        <h3>Fail Outline</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="status-outlineFail"&gt;
    &lt;div class="status-tip"&gt;
        &lt;table cellspacing="0" cellpadding="0" class="statusZone"&gt;
            &lt;tr&gt;
                &lt;td class="top"&gt;
                    &lt;img src="assets/img/icon/mark-48-suc.png" alt="成功" width="48" heigth="48" /&gt;
                &lt;/td&gt;
                &lt;td class="top"&gt;
                    &lt;h2 class="heading"&gt;支付成功！&lt;/h2&gt;
                    &lt;div class="extra"&gt;
                        我们会以
                        &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;
                        和
                        &lt;strong class="color-red"&gt;短信&lt;/strong&gt;
                        的方式通知您，请耐心等待。
                        &lt;ul class="statusList"&gt;
                            &lt;li&gt;
                                我们会将保险卡信息通过
                                &lt;strong class="color-red"&gt;邮件&lt;/strong&gt;发送给您。
                            &lt;/li&gt;
                            &lt;li&gt;您已经成为新一站会员&lt;/li&gt;
                            &lt;li&gt;为了保障您的账户安全，登录后请及时修改密码。&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">

                <div class="status-outlineFail">
                    <div class="status-tip">
                        <table cellspacing="0" cellpadding="0" class="statusZone">
                            <tr>
                                <td class="top"><img src="assets/img/icon/mark-48-error.png" alt="成功" width="48" heigth="48" /></td>
                                <td class="top">
                                    <h2 class="heading">支付失败！</h2>
                                    <div class="extra">
                                        您的账户余额不足，请采用其他支付方式或者进行帐户重置。
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
