{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－标签切换 {% endblock %}

{% block is_active_building_tab %} active {% endblock %}

{% block real %}
<section id="doc-tab" class="section">
    <div class="header">
        <h2>标签切换<small>less/tab</small></h2>
    </div>
    <div class="content">
        <h3>tab-label</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="tab"&gt;
    &lt;ul class="tab-label"&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Label1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Label1&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="tab-content"&gt;
        &lt;div class="tab-pane active"&gt;pane&lt;/div&gt;
        &lt;div class="tab-pane"&gt;pane&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <div class="tab">
                    <ul class="tab-label">
                        <li><a href="#">Label1</a></li>
                        <li class="active"><a href="#">Label1</a></li>
                        <li><a href="#">Label1</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane">pane</div>
                        <div class="tab-pane active">pane</div>
                        <div class="tab-pane">pane</div>
                    </div>
                </div>
            </div>
        </div>

        <h3>tab-left</h3>
        <div class="desc">导航在左侧。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
                </pre>
            </div>
            <div class="rule-code-example">
                <div class="tab ly-clearFix">
                    <ul class="tab-left">
                        <li><a href="#">Label1</a></li>
                        <li><a class="active" href="#">Label1</a></li>
                        <li><a href="#">Label1</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane">pane</div>
                        <div class="tab-pane active">pane</div>
                        <div class="tab-pane">pane</div>
                    </div>
                </div>
            </div>
        </div>

        <h3>tab-ninja</h3>
        <div class="desc">tab栏的背景或者其他样式，以及指示的ninja箭头，都是需要定义样式的，没有默认样式。</div>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;div class="tab"&gt;
    &lt;ul class="tab-ninja"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Label1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Label1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Label1&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="tab-indicator"&gt;
        &lt;span class="tri"&gt;&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="tab-content"&gt;
        &lt;div class="tab-pane"&gt;pane&lt;/div&gt;
        &lt;div class="tab-pane"&gt;pane&lt;/div&gt;
        &lt;div class="tab-pane"&gt;pane&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
            <div class="rule-code-example">
                <img src="/img/tab-ninja.png" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
