{% extends "sources/building/navigation.html" %}

{% block title %} 建筑－小标签 {% endblock %}

{% block is_active_building_tag %} active {% endblock %}

{% block real %}
<section id="doc-tag" class="section">
    <div class="header">
        <h2>小标签<small>less/tag</small></h2>
    </div>
    <div class="content">
        <h3>tip</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="tags-tip"&gt;
    &lt;a href="#"&gt;tip&lt;/a&gt;
&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <span class="tags-tip">
                    <a href="#">Tags-tip</a>
                </span>
            </div>
        </div>

        <h3>useful</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="tags-useful"&gt;tags-useful&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <span class="tags-useful">
                    tags-useful
                </span>
            </div>
        </div>

        <h3>disable</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;span class="tags-disable"&gt;tags-disable&lt;/span&gt;</pre>
            </div>
            <div class="rule-code-example">
                <span class="tags-disable">
                    tags-disable
                </span>
            </div>
        </div>

        <h3>cal</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;ul class="tags-cal"&gt;
    &lt;li&gt;
        &lt;span class="cal-chose"&gt;
            &lt;a href="#"&gt;计划A&lt;/a&gt;
        &lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class="cal-chose"&gt;
            &lt;a href="#"&gt;计划B&lt;/a&gt;
        &lt;/span&gt;
        &lt;i&gt;&lt;/i&gt;
    &lt;/li&gt;
&lt;/ul&gt;</pre>
            </div>
            <div class="rule-code-example rule-code-example-blank">
                <ul class="tags-cal">
                    <li>
                        <span class="cal-chose">
                            <a href="#">计划A</a>
                        </span>
                    </li>
                    <li class="chose">
                        <span class="cal-chose">
                            <a href="#">计划B</a>
                        </span>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>

        <h3>cal-panel</h3>
        <div class="rule-code">
            <div class="rule-code-title">Example</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
&lt;ul class="tags-cal"&gt;
    ...
    &lt;li class="custom chose on"&gt;
        &lt;span class="cal-chose"&gt;
            &lt;a href="#"&gt;计划B&lt;/a&gt;
        &lt;/span&gt;
        &lt;div class="chosePanel"&gt;
            Chose Panel
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</pre>
            </div>
            <div class="rule-code-example rule-code-example-blank">
                <ul class="tags-cal">
                    <li>
                        <span class="cal-chose">
                            <a href="#">计划A</a>
                        </span>
                    </li>
                    <li>
                        <span class="cal-chose">
                            <a href="#">计划A</a>
                        </span>
                    </li>
                    <li>
                        <span class="cal-chose">
                            <a href="#">计划A</a>
                        </span>
                    </li>
                    <li>
                        <span class="cal-chose">
                            <a href="#">计划A</a>
                        </span>
                    </li>
                    <li class="custom chose on">
                        <span class="cal-chose">
                            <a href="#">计划B</a>
                        </span>
                        <div class="chosePanel">
                            Chose Panel
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}
