{% extends "sources/skeleton/navigation.html" %}

{% block title %} 骨架－变量 {% endblock %}

{% block is_active_skeleton_variable %} active {% endblock %}

{% block real %}
<section id="doc-variable" class="section">
    <div class="header">
        <h2>变量<small>less/variable.less</small></h2>
    </div>
    <div class="content">
        <p>变量的意义在于——在其他的文件中调用变量来获取值，可以有效地控制全局中字体、颜色等元素的不同样式的总数，避免出现规范之外的颜色，防止把样式使用在了错误的定位元素中。同时，也方便后面的统一修改。</p>
        <p>虽然目前的有些变量的值是一样的，但是大部分都是根据业务要求来定义的，例如字体，两个地方使用的字体一样，但是<strong>不代表可以混用，不代表以后不会修改变量的值</strong>。所以要正确使用，这样以后修改了一个变量值之后不会对其他的造成非预期的影响。相同场景的可以使用同一个变量，比如面包屑的链接就使用了链接默认的变量。</p>

        <h3>global</h3>
        <div class="desc">全局变量</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@baseColor          文档文本颜色
@baseBackground     文档背景颜色
@baseFontSize       文档字体大小
@baseLineHeight     文档文字行高
@minorBackground    注册等页面为灰色的body背景</pre>
            </div>
        </div>

        <h3>color</h3>
        <div class="desc">颜色</div>
        <div class="desc">为了统一页面中文字的颜色，在定义文字颜色的时候不直接定义色值，把色值定义在变量中，然后引用变量。当然链接的颜色不包括在内，链接有自己的颜色设定。</div>
        <div class="desc">在定义颜色变量的时候，变量名称使用color加上颜色色值的大写全6位命名，如果是RGB活着RGBA形式的颜色，把RGBA分别的值用中划线分割。</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@colorFFFFFF: #fff;
@colorFFFCF8: #fffcf8;
...</pre>
            </div>
        </div>

        <h3>font</h3>
        <div class="desc">字体</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@baseFontFamily         文档字体
@sansFontFamily         无衬线字体
@serifFontFamily        衬线字体
@monospaceFontFamily    等宽字体
@moneyFontFamily        表示人民币符号的字体
@westernFontFamily      西文字体</pre>
            </div>
        </div>

        <h3>hr</h3>
        <div class="desc">分割线</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@hrBorderSize   分割线尺寸
@hrBorderStyle  分割线的类型(参考border的style)
@hrColor        分割线的颜色
@hrMargin       分割线的上下边距
@hrHeight       不使用边框来定义的分割线的高度</pre>
            </div>
        </div>

        <h3>link</h3>
        <div class="desc">链接</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@link 链接类型 链接状态 属性
# 链接类型：normal,hover,green,blue,red,gray3,list,special,doc等
# 链接状态：hover, visited等
# 属性：color, decoration等
# 例如：@linkNormalHoverColor</pre>
            </div>
        </div>

        <h3>form</h3>
        <div class="desc">表单</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@formColor                  表单文字颜色
@formBackground             表单控件背景
@formBorderColor            表单控件边框颜色
@formFocusBorderColor       表单控件在focus状态下边框颜色
@formInputWidth             输入框的默认宽度
@formInputHeight            输入框的默认高度
@formLineHeight             书框框的默认行高
@formPadding                输入框、textarea的默认padding
@formPaddingVertical        垂直padding
@inputErrorBorderColor      输入框错误状态下边框颜色
@inputWarningBorderColor    警告状态
@inputDisableBorderColor    不可用状态
@inputDisableBackground     不可用状态的输入框背景
@inputDisableColor          不可用状态的文字颜色
@tipError{Warning}Color     表单的错误提示/警告提示的颜色
@tipLinkColor               提示信息中链接的颜色</pre>
            </div>
        </div>

        <h3>button</h3>
        <div class="desc">按钮</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@button 按钮类型 按钮状态 属性
# 按钮类型：normal, shine, general, disable, shinespan, generalspan, disablespan
# 按钮状态：空，hover, active
# 属性：height, line-height, color, paddingHorizontal, offset, background-position等
# 例如: @buttonShineSpanHoverBackgroundPosition</pre>
            </div>
        </div>

        <h3>border</h3>
        <div class="desc">边框</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@normalBorderColor      边框默认颜色
@lightBorderColor       BOX-HEADING的标题的下边框颜色，较为浅的颜色</pre>
            </div>
        </div>

        <h3>status</h3>
        <div class="desc">错误页面</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@statusSucBorderColor       成功状态的边框颜色
@statusSucBackground        成功状态的背景
@statusFailBorderColor      错误报错边框颜色
@statusFailBackground       错误报错背景</pre>
            </div>
        </div>

        <h3>alert</h3>
        <div class="desc">警告信息</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@alert 类型 属性
# 类型：error, warning, info, success, stop, message, link
# 属性：color, background
# 例如：@alertMessageColor</pre>
            </div>
        </div>

        <h3>bubble</h3>
        <div class="desc">气泡提示</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@bubbleContentColor     气泡文字颜色</pre>
            </div>
        </div>

        <h3>breadcrumb</h3>
        <div class="desc">面包屑</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@breadLinkHoverDecoration   链接hover效果
@breadArrowFontFamily       面包屑的>的字体</pre>
            </div>
        </div>

        <h3>box</h3>
        <div class="desc">容器</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@box 类型 部分 属性
#类型：basic heading headingSlim superb
#部分：heading content value
#属性：padding-left background padding fontsize color</pre>
            </div>
        </div>

        <h3>money</h3>
        <div class="desc">金钱</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@moneyColor             “起”的颜色
@moneySecondaryColor    金钱的符号的颜色
@moneyDelColor          原价的颜色，包括符号和数字
@moneyMarkColor         金钱符号的颜色
@moneyFontSize          金钱符号和数字的字体大小
@moneyUpFontSize        “起”的字体大小
@moneyDelFontSize       原价的字体大小</pre>
            </div>
        </div>

        <h3>tag</h3>
        <div class="desc">标签tag</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@tagsCalHeight: tag标签的高度
@tagsCalChosePanelOffsetTop: tag标签的弹出的位置offset</pre>
            </div>
        </div>

        <h3>z-index</h3>
        <div class="desc">把整站所有用到的z-index都整理起来，统一管理，防止出现不正常的遮罩现象。</div>
        <div class="desc">ye'm页面内部的z-index的范围在1-999之间，公共组件的z-index范围在1000-9999之间，超出的是为弹出层的z-index。</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums typo-orig">
@prodPioContZindex: 801;                
@homeCarouselZindex:5000;
@tagsCalChosePanelZindex:6000;
@tagsCalChoseZindex:6001;
@shareboxParentZindex:6500;
@shareboxZindex:6501;
@xyzNavZindex:7000;
@xyzNavCategoryZindex:7001;
@xyzNavExtendOutZindex:7002;
@xyzNavlitbParentZindex:7003;
@xyzNavlitbHover:7003;
@xyzNavlitbZindex:7004;
@searchIntegrateZindex:7500;
@searchIntegrateInputZindex:7501;
@searchIntegrateInputHintZindex:7502;
@searchIntegrateOptionsZindex:7503;
@xyzHeaderZindex:8000;
@xyzHeaderSearchSuggestZindex:8001;
@xyzTopZindex:8500;
@dropdownPanelZindex:8501;
@xyzTopDropdownOn:8502;
@dropdownZindex:8503;
@xyzAdriftZindex:9000;
@modalZindex:20000;                            <pre>
                        </div>
                    </div>

                    <h3>carousel</h3>
                    <div class="desc">轮播</div>
                    <div class="rule-code">
                        <div class="rule-code-title">LESS</div>
                        <div class="rule-code-content">
                            <pre class="pretty linenums typo-orig">
@carouselIndicatorBackground        轮播指示的背景色
@carouselIndicatorActiveBackground  轮播指示器的当前激活状态的背景色</pre>
            </div>
        </div>

        <h3>xyz-nav</h3>
        <div class="desc">导航栏</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="pretty linenums typo-orig">
@xyzNavHeight               导航栏行高
@xyzNavCategoryWidth        导航栏左侧下拉部分的宽度
@xyzNavLinkAllBackground    导航栏左侧下拉的背景色
@xyzNavLitbBackground       导航栏左侧下拉出去部分的背景色</pre>
            </div>
        </div>

        <h3>xyz-header</h3>
        <div class="desc">头部</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="pretty linenums typo-orig">
@searchIntegrateMainColor               搜索栏主色
@searchIntegrateBorderSize              搜索栏的边框尺寸
@searchIntegrateTypeFontSize            搜索栏输入框的字体大小
@searchIntegrateTypePaddingLeft         搜索栏输入框左边距
@searchIntegrateInputHeight             搜索栏输入框高度
@searchIntegrateInputWidth              搜索栏输入框宽度
@searchIntegrateInputPaddingVertical    搜索栏输入框边距
@searchIntegrateInputPaddingHorizontal  搜索栏输入框边距 </pre>
            </div>
        </div>

        <h3>xyz-top</h3>
        <div class="desc">顶栏</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="pretty linenums typo-orig">
@xyzTopLineHeight                       顶栏行高
@dropdownPanelBackground                顶栏下拉的背景色
@dropdownPanelBorderColor               顶栏下拉的边框
@dropdownPanelSingleListPaddingLeft     顶栏下拉一级菜单的边距
@dropdownPanelSingleListPaddingRight    顶栏下拉一级菜单的边距
@dropdownHelpPanelWidth                 顶栏下拉的默认宽度
@dropdownMemberPanelWidth               顶栏会员中心下拉的宽度</pre>
            </div>
        </div>

        <h3>sharebox</h3>
        <div class="desc">分享组件</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="pretty linenums typo-orig">
@shareboxBackground             分享弹出box的背景色
@shareboxInnerBackground        分享弹出的内部的背景色
@shareboxInnerHeadBackground    分享弹出的内部的头部的背景色 </pre>
            </div>
        </div>

        <h3>media query</h3>
        <div class="desc">Media Query的查询条件</div>
        <div class="rule-code">
            <div class="rule-code-title">LESS</div>
            <div class="rule-code-content">
                <pre class="pretty linenums typo-orig">
@iPadDetectQuery: ~"-webkit-min-device-pixel-ratio: 1.25";  查询iPad，供显示retina的logo所用 </pre>
            </div>
        </div>

    </div>
</section>
{% endblock %}
