{% extends "sources/dictionary/navigation.html" %}

{% block title %} 参考－class列表 {% endblock %}

{% block is_active_dictionary_class %} active {% endblock %}

{% block real %}
<section id="doc-classes" class="section">
    <div class="header">
        <h2>Class列表</h2>
    </div>
    <div class="content">
        <table cellspacing="0" cellpadding="0" class="typo-orig rule-figure rule-figureMiddle">
            <tr>
                <th>1</th>
                <td>.x1200</td>
                <td>home-x1200.less</td>
                <td>首页的1200的宽度下的专属样式</td>
            </tr>
            <tr>
                <th>2</th>
                <td>.860</td>
                <td>../total/xyz-x860.less</td>
                <td>860宽度的页面的专属样式</td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}
