{% extends "sources/dictionary/navigation.html" %}

{% block title %} 参考－less语法 {% endblock %}

{% block is_active_dictionary_less %} active {% endblock %}

{% block real %}
<section id="doc-lesswiki" class="section">
    <div class="header">
        <h2>Less语法</h2>
    </div>
    <div class="content">
        <p>作为CSS的扩展，不只是向后兼容CSS，而且使用了CSS现有的语法结构，很容易学习，而且有问题的时候直接使用CSS。</p>

        <h3>变量</h3>
        <div class="desc">Less的变量语法很简单，通过@来声明，没有编程语言那么复杂的变量语法，一看就明白：</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
@nice-blue: #5b83ad;

#header {color: @nice-blue;}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>CSS输出</span></div>
                <pre class="prettyprint linenums type-orig">
#header {color:#5b83ad;}</pre>
            </div>
        </div>
        <div class="desc">这里的变量实际上相当于“常量”，声明的时候直接赋值，不可改变，而且只能声明一次。</div>

        <h3>混入</h3>
        <div class="desc">混入（mixin）就是可以把几个属性组成一个属性集，当做一个单一的属性来使用。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
.bordered {
border-top:1px solid #000;
margin-bottom:20px;
}

#menu a {
color:#111;
.bordered;
}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>CSS输出</span></div>
                <pre class="prettyprint linenums type-orig">
#menu a {
color:#111;
border-top:1px solid #000;
margin-bottom:20px;
}</pre>
            </div>
        </div>

        <div class="desc">可以像函数一样接受变量传入，并且接受参数默认值。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
.box-shadow(@shadow) {
-webkit-box-shadow: @shadow;
-moz-box-shadow: @shadow;
box-shadow: @shadow;
}

#box {
.box-shadow(0 0 2px rgba(0,0,0,.3));
}


.horizontal(@startColor: #555, @endColor: #333) {
background-color: @endColor;
background-image: -moz-linear-gradient(left, @startColor, @endColor);
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor));
background-image: -webkit-linear-gradient(left, @startColor, @endColor);
background-image: -o-linear-gradient(left, @startColor, @endColor);
background-image: linear-gradient(to right, @startColor, @endColor);
background-repeat: repeat-x;
}

#box2 {
.horizontal(#555, #333);
}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>CSS输出</span></div>
                <pre class="prettyprint linenums type-orig">
#box1 {
-webkit-box-shadow:  0 0 2px rgba(0,0,0,.3);
-moz-box-shadow:  0 0 2px rgba(0,0,0,.3);
box-shadow:  0 0 2px rgba(0,0,0,.3);
}

#box2 {
background-color: #33;
background-image: -moz-linear-gradient(left, #555, #33);
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#555), to(#33));
background-image: -webkit-linear-gradient(left, #555, #33);
background-image: -o-linear-gradient(left, #555, #33);
background-image: linear-gradient(to right, #555, #33);
background-repeat: repeat-x;
}</pre>
            </div>
        </div>

        <h3>层级嵌套</h3>
        <div class="desc">Less的层级嵌套可以让代码更加清晰可用。</div>
        <div class="rule-code">
            <div class="rule-code-title">CSS</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
#header {color:red;}
#header .navi {font-size:20px;}
#header .navi a {float:left; display:block;}
#header .logo {width:300px;}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>Less源码</span></div>
                <pre class="prettyprint linenums type-orig">
#header {
color:red;

.navi {
font-size:20px;
a {
float:left;
display:block;
}
}

.logo {
width:300px;
}
}</pre>
            </div>
        </div>

        <h3>&</h3>
        <div class="desc">可以将&认作主选择器，即被继承的那个选择器。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
.clearfix {
display:block;
zoom:1;

&:after {
content:'';
display:block;
font-size:0;
height:0;
width:0;
clear:both;
visibility:hidden;
}
}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>CSS输出</span></div>
                <pre class="prettyprint linenums type-orig">
.clearfix {
display:block;
zoom:1;
}
.clearfix:after {
content:'';
display:block;
font-size:0;
height:0;
width:0;
clear:both;
visibility:hidden;
}</pre>
            </div>
        </div>
        <div class="desc">&还有更加奇妙的用法，&不仅仅可以当做父元素，装孙子也可以的。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
.input-size {
line-height: 1;
.input-warn & {
border-width:2px;
border-style:solid;
padding:4px 5px;
}
}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>CSS输出</span></div>
                <pre class="prettyprint linenums type-orig">
.input-size {
line-height:1;
}

.input-warn .input-size {
border-width:2px;
border-style:solid;
padding:4px 5px;
}</pre>
            </div>
        </div>
        <div class="desc">这样无疑让代码更加聚合化，更加统一。</div>

        <h3>运算</h3>
        <div class="desc">任何一个数字、颜色和变量都可以进行运算，不过实际在项目中用到的不多。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
@var: 1px + 5;</pre>
            </div>
            <div class="rule-code-example">
                <pre class="prettyprint linenums type-orig">
6px</pre>
            </div>
        </div>

        <h3>命名空间和访问器</h3>
        <div class="desc">有时候你可能想要给你的变量和混入代码分组，可能为了方便组织，或者要封装起来。这个非常容易，可以把代码打包起来方便以后重用或者发布。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
#gradient {
.horizontal(@startColor: #555, @endColor: #333) {
background-color: @endColor;
background-image: -moz-linear-gradient(left, @startColor, @endColor);
background-image: -webkit-linear-gradient(left, @startColor, @endColor);
background-image: -o-linear-gradient(left, @startColor, @endColor);
background-image: linear-gradient(to right, @startColor, @endColor);
background-repeat: repeat-x;
}
.vertical(@startColor: #555, @endColor: #333) {...}
.directional(@startColor: #555, @endColor: #333, @deg: 45deg) {...}
.radial(@innerColor: #555, @outerColor: #333) {...}
.striped(@color: #555, @angle: 45deg) {...}
}</pre>
            </div>
            <div class="rule-code-example">
                <div class="rule-code-title-example"><span>使用</span></div>
                <pre class="prettyprint linenums type-orig">
#header a {
color: range;
#gradient > .horizontal;
}</pre>
            </div>
        </div>

        <h3>注释</h3>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
/* comment one */
@var: red;

// one line comment
@var: white;</pre>
            </div>
        </div>

        <h3>引用</h3>
        <div class="desc">如果文件后缀名为less的话，可以将后缀名省掉。</div>
        <div class="rule-code">
            <div class="rule-code-title">Less</div>
            <div class="rule-code-content">
                <pre class="prettyprint linenums type-orig">
@import "../button/button.less";
@import "../button/button";
@import "global.css";</pre>
            </div>
        </div>


    </div>
</section>
{% endblock %}
