<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/docs.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

</head>
<body id="jingwei">
  <div id="header">
    <div class="container">
      <h1>{{ site.name }}</h1>
    </div>
  </div>

  <div id="menu">
    <div class="container">
      <ul class="tabs">
        <li class="active"><a href="/">Overall</a></li>
        <li><a href="/skeleton">Skeleton</a></li>
        <li><a href="/elementary">Elementary</a></li>
        <li><a href="/building">Building</a></li>
        <li><a href="/dictionary">Dictionary</a></li>
      </ul>
    </div>
  </div>

  <div id="content">
    <div class="container">
      {{ content }}
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="contact-left">
        <p>
          gengtieming<br />
          gengtieming@made-in-china.com
        </p>
      </div>
      <div class="contact-right">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
        </p>
      </div>
    </div>
  </div>

</body>
</html>
