{% extends "sources/home/navigation.html" %}

{% block title %} 更新日志 {% endblock %}

{% block is_active_home_whatsnew %} active {% endblock %}

{% block real %}
<div class="section">
    <h3>in 0.2.3</h3>
    <div class="content typo-orig">
        <ol>
            <li>添加btn-jade的按钮</li>
        <ol>
    </div>

    <h3>in 0.2.2</h3>
    <div class="content typo-orig">
        <ol>
            <li>按钮进行了重构，改变了按钮的class名称，增加了4种大小</li>
            <li>添加了表单中select的样式</li>
            <li>添加了输入框的warning error disable的样式的说明</li>
        </ol>
    </div>

    <h3>in 0.2.1</h3>
    <div class="content typo-orig">
        <ol>
            <li>整理了LESS文件的主ID，以及一些新增的公共部分的class</li>
        </ol>
    </div>

    <h3>in 0.2</h3>
    <div class="content typo-orig">
        <ol>
            <li>修改首页样式，添加了what's new</li>
            <li>添加CSS画三角和箭头的mixin</li>
            <li>添加颜色统一定义的variable</li>
            <li>把z-index的管理统一纳入variable</li>
            <li>添加“垂直居中和绝对居中（align）”的样式</li>
            <li>添加“btn-vivid”通用按钮</li>
            <li>添加“有标题的纯净盒子、border-box、瘦标题盒子、标题带有链接的盒子、标题带有tab标签切换的盒子、场景盒子、superb盒子、well”等box</li>
            <li>添加“上方向气泡（bubble-info-top）”</li>
            <li>添加了轮播的组件</li>
            <li>添加了下拉菜单组件</li>
            <li>添加了评价组件</li>
            <li>添加了表单元素中的时间选择输入框的图标样式</li>
            <li>添加了时间选择器的icon</li>
            <li>修正了表单中警告的tip的结构和样式</li>
            <li>添加html5元素的低版本IE浏览器适用的Javascript文件引入方法</li>
            <li>添加“square符号的列表、双栏等宽列表、list的hover样式、产品小列表、问答列表”等列表的样式</li>
            <li>修改了人民币的结构，增加了原价的结构</li>
            <li>添加了分享的组件</li>
            <li>添加了标签切换的组件</li>
            <li>添加了小标签的组件</li>
            <li>添加了透明遮罩点实现的圆角的组件</li>
        </ol>
    </div>
</div>

<div class="section">
    <h3>in 0.1</h3>
    <div class="content typo-orig">
        <ol>
            <li>Edition 0</li>
        </ol>
    </div>
</div>
{% endblock %}
